{
  "eslintIntegration": true,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid"
}
