* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  -webkit-overflow-scrolling: auto;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  color: #666;
  font-size: 0.28rem;
  font-family: 'Arial', 'Microsoft YaHei';
}

a,
a:hover,
a:focus,
a:active {
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  outline: none;
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0;
  list-style-type: none;
}

a,
label,
input,
span,
img,
select,
i {
  vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-weight: normal;
  color: #232323;
}

h1 {
  font-size: 0.5rem;
}

h2 {
  font-size: 0.4rem;
}

h3 {
  font-size: 0.36rem;
}

h4 {
  font-size: 0.28rem;
}

h5 {
  font-size: 0.24rem;
}

h6 {
  font-size: 0.2rem;
}

p {
  letter-spacing: 0.6px;
  line-height: 1.6;
  text-align: justify;
}

button {
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
}

a {
  transition: all 0.3s;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.container {
  padding: 0.5rem 0.3rem;

  h2 {
    margin: 0.4rem 0;
  }

  h3 {
    margin: 0.3rem 0;
    line-height: 1.4;
  }

  li {
    position: relative;
    line-height: 1.4;
    margin: 0.3rem 0;
    padding-left: 0.4rem;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0.2rem;
      transform: translateY(-50%);
      width: 0.16rem;
      height: 0.16rem;
      border-radius: 50%;
      background: #333;
    }
  }
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
