@font-face {
  font-family: 'iconfont'; /* project id 1733240 */
  src: url('//at.alicdn.com/t/font_1733240_nb813muy9g.eot');
  src: url('//at.alicdn.com/t/font_1733240_nb813muy9g.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1733240_nb813muy9g.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1733240_nb813muy9g.woff') format('woff'),
    url('//at.alicdn.com/t/font_1733240_nb813muy9g.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1733240_nb813muy9g.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-marker:before {
  content: '\e643';
}

.icon-kiosk:before {
  content: '\e60b';
}

.icon-loading:before {
  content: '\e65d';
}

.icon-compass:before {
  content: '\e617';
}

.icon-fangdajing:before {
  content: '\e627';
}

.icon-food:before {
  content: '\e6fc';
}

.icon-kehufangxiangluxian:before {
  content: '\e60c';
}

.icon-nursing-station:before {
  content: '\e615';
}

.icon-position-2:before {
  content: '\e603';
}

.icon-power:before {
  content: '\e616';
}

.icon-shanchuqingchuqingkong:before {
  content: '\e61f';
}

.icon-massage:before {
  content: '\e6df';
}

.icon-store:before {
  content: '\e6a6';
}

.icon-zuoshang-:before {
  content: '\e664';
}

.icon-book:before {
  content: '\e610';
}

.icon-route:before {
  content: '\e874';
}

.icon-wheelchair:before {
  content: '\e62a';
}

.icon-dianhua:before {
  content: '\e604';
}

.icon-close:before {
  content: '\e605';
}

.icon-navigation:before {
  content: '\e6a8';
}

.icon-nurse:before {
  content: '\e60a';
}

.icon-search:before {
  content: '\e619';
}

.icon-position:before {
  content: '\e674';
}

.icon-about:before {
  content: '\e69a';
}

.icon-find:before {
  content: '\e677';
}

.icon-building:before {
  content: '\e62f';
}

.icon-doctor:before {
  content: '\e684';
}

.icon-department:before {
  content: '\e601';
}

.icon-service:before {
  content: '\e65f';
}

.icon-elevator:before {
  content: '\e624';
}

.icon-atm:before {
  content: '\e6da';
}

.icon-wc:before {
  content: '\e635';
}

.icon-elevator-2:before {
  content: '\e641';
}

.icon-exit:before {
  content: '\e64b';
}

.icon-elevator-3:before {
  content: '\e6a1';
}

.icon-atm-2:before {
  content: '\e66c';
}

.icon-atm-3:before {
  content: '\e62c';
}

.icon-escalator:before {
  content: '\e634';
}

.icon-escalator-2:before {
  content: '\e600';
}
